.splide {
  width: 100%;
  padding-bottom: 4rem;
}

.splide__pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem; 
}

.splide__pagination__page {
  background-color: #cccccc; 
  border-radius: 50%;
  margin: 0 5px;
  transition: background-color 0.3s;
}

.splide__pagination__page.is-active {
  background-color: #FC5056; 
}